<div class="center jumbotron">
	<p>
	  <strong>Title:</strong>
	  <%= @item.title %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	  <%= @item.description %>
	</p>

 
	<p>
	  <strong>Description:</strong>
	  <%= @item.price %>
	</p>


	<p>
	  <strong>Image:</strong>
	  <%= image_tag @item.item_image %>
	</p>







</div>